

.section, .sectionAuto, .section75, .section50 .section60 {
    font-size: clamp(1rem, 1vw, 1.3rem);
}

.secHeader {
    position:absolute;
    top:66.5vh;

    height:0;
    width:85em;
    
    margin-left:50%;
    transform:translateX(-50%);
}

.baseline {
    width:7em;
    position: absolute;
    bottom:0;
    font-size: 10em;
}

.statsBar {
    margin:auto;
    max-width: 1500px;
    display: flex;
    padding-bottom: 4em;
}

.statsBar divider {
    display: block;
    padding:0 1px;
    background:linear-gradient(0deg, rgba(var(--secondary-col),0.0) 0%, rgba(var(--secondary-col),0.3) 50%, rgba(var(--secondary-col),0.0) 100%);
}

.statsBar div {
    width:100%;
    height:100%;

    text-align: center;
    padding: 3em 0;

}

.statsBar span {
    display:block;
}

.statsBar .statHeader {
    font-family: 'ignite', Helvetica, Arial, sans-serif;
    font-size:2em;
    padding-bottom: 0.4em;
}

.subHeader {
    position:relative;
    font-family: 'ignite', Helvetica, Arial, sans-serif;
    margin: 2.5em 0 0.3em;
    font-size: 3.2em;
}

p:last-child {
    margin:0!important;
}

.pointHeader {
    position:relative;

    padding-top: 1em;
    padding-bottom: 0.2em;

    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.2em;
}

.col {
    position:relative;
    max-width:2200px; 
    margin: 0 auto;
    padding: 1.2em 0;
}



.copy {
    position:relative;
    margin: 0 auto;

    width: clamp(0px, 100%, 900px);
    box-sizing: border-box;
}

@media (min-width:1240px) {
    .copy {
        width: clamp(0px, 100%, 1000px);
    }

    .col .copy {
        width: clamp(0px, 46%, 750px);    
        margin: 0 auto;
    }
}


.copy .boldText {
    font-weight:bold;
    color: rgba(var(--primary-tint));
}

.copy p {
    position:relative;
    margin-top:0;
    margin-bottom: 1.2em;

    line-height: 1.75;
}

.copy > img {
    margin-left: -1rem;
    margin-bottom:1.5rem;

    width:calc(100% + 2rem);
}

.padT {
    padding-top: clamp(4rem, 15vw, 6rem);
}


#headerImage {
    left:0;

    width:calc(100% + 4rem);
    padding:0;

    margin-left: -2rem;
    margin-bottom: 8em;

    overflow:hidden;
    background:lime;
}

#headerImage img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

#headerImage .shade {
    position:absolute;
    top:0;
    width:100%;
    height:60vh;
    background:linear-gradient(0deg, rgba(var(--primary-col),0.7) 0%, rgba(var(--primary-col),0.3) 40%);
}







#projectNavigator {
    position:relative;
    width:100%;

    margin:9em 0 18em;
    padding: 5em 0;

    display:flex;
    justify-content: center;
    align-items: center;
}

#projectNavigator::before {
    content:'';
    position:absolute;
    top:0;
    width:100%;
    height:3px;
    background:linear-gradient(90deg, rgba(var(--secondary-col),0.0) 0%, rgba(var(--secondary-col),0.3) 50%, rgba(var(--secondary-col),0.0) 100%);
}

#projectNavigator::after {
    content:'';
    position:absolute;
    bottom:0;
    width:100%;
    height:3px;
    background:linear-gradient(90deg, rgba(var(--secondary-col),0.0) 0%, rgba(var(--secondary-col),0.3) 50%, rgba(var(--secondary-col),0.0) 100%);
}

#projectNavigator div {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projectNavigator .info {
    font-size: 3em;
    text-align: center;
    width:60%;
}

#projectNavigator .previous, #projectNavigator .next {
    text-align: center;
    width:100%;
    height:3em;
}

#projectNavigator .previous .button, #projectNavigator .next .button {
    background:yellow;
    width:7em;
    height:3em;

    font-family: 'ignite', Helvetica, Arial, sans-serif;
    font-size:1.3em;
    color:rgb(var(--secondary-col));
    text-shadow: rgba(var(--primary-col), 0.6) 0px 0px 4px;
}


#projectNavigator .previous .button::after, #projectNavigator .next .button::after {
    position: absolute;
    top:calc(100% + 20px);

    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    color: rgb(var(--secondary-col));
}

#projectNavigator .previous .button::after {
    content: var(--prev-project);
}

#projectNavigator .next .button::after {
    content: var(--next-project);
}









.gallery {
    margin-left: -1rem;
    margin-bottom:4.5rem;

    width:calc(100% + 2rem);


    outline: 0.2rem solid    rgba(var(--secondary-col),0.1);
    outline-offset: -1rem;

    aspect-ratio: 4/3.3;
    
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 9999999px;
    transform-style: preserve-3d;    
}

.gallery img, .gallery-img {
    position:absolute;

    width:100%;
    height:100%;
    object-fit: contain;

}

.gallery-nav {
    position: absolute;
    bottom:-1.5rem;

    padding: 0.5rem 0.75rem;

    outline: 0.2rem solid rgba(var(--secondary-col),0.1);

    display:flex;
    justify-content: center;
    align-items: center;
}

.gallery-nav div {
    position:relative;    

    width:0.6rem;
    height:0.6rem;

    margin: 0rem 0.4rem;

    border-radius: 99px;
    outline: 0.2rem solid rgba(var(--secondary-col),0.1);
    outline-offset: 0.1rem;

    background:none;
    transition: background 0.2s;
}

.gallery-nav .gallery-navOn {
    background:rgba(var(--secondary-col),0.1);
}




.zoomLayer {
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    backdrop-filter: blur(0px);
    background:rgba(var(--secondary-col),0.0);
}

.zoomLayer img {
    position: absolute;

    width:100%;
    height:100%;

    padding: 0.5rem;
    box-sizing: border-box;

    object-fit: contain;

    z-index:99;
}




.framed {
    position: relative;

    height:100%;
    width: clamp(0px, 100%, 1000px);

    color: transparent;
    background:rgba(0, 255, 0, 0.4);
    outline: rgb(255, 0, 225) 2px solid;
    outline-offset: -2px;    
}












.galleryTest2 {
    position: sticky;
    top: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
}

.galleryTest2 img {
    position:absolute;
    width: 100%;
    height:100%;
    object-fit:contain;
    transform:translateZ(5px);
    border-radius: 1rem;
}



.galleryTest {
    position: sticky;
    top: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
}

.galleryTest img {
    position:absolute;
    width: 100%;
    height:100%;
    object-fit:contain;
    transform:translateZ(5px);
    border-radius: 1rem;
}

.card > div {
    position:absolute;
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
    border-radius: 1rem;
}

.galShowing {
    z-index:99;
}

.panel {
    width:100%;
    height:80%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective-origin: left;
}

.panel .card {
    position:absolute;
    background: rgba(var(--primary-shade));
    transform-style: preserve-3d;
    border-radius: 1rem;
}

.dynamicGallery-left-tab::before {
    content: '';
    position: absolute;
    top: 0.6em;
    left: -40px;
    width: 20px; 
    height: calc(100% - 1.2em);
    display: block;

    background-color: rgba(255, 0, 0, 0.1); 
    box-shadow: inset 0em 0em 0px rgba(255, 0, 0, 0);
    transition: all 0.4s;
}

.dynamicGallery-left-tab.focused::before {
    content: '';
    position: absolute;
    top: 0.6em;
    left: -40px;
    width: 20px; 
    height: calc(100% - 1.2em);
    display: block;

    background-color: rgba(255, 0, 0, 0.3); 
    box-shadow: inset 0em 0em 8px rgba(255, 0, 0, 0.5);
}

.dynamicGallery-right-tab::before {
    content: '';
    position: absolute;
    top: 0.6em;
    right: -40px;
    width: 20px; 
    height: calc(100% - 1.2em);
    display: block;

    background-color: rgba(255, 0, 0, 0.1); 
    box-shadow: inset 0em 0em 0px rgba(255, 0, 0, 0);
    transition: all 0.4s;
}

.dynamicGallery-right-tab.focused::before {
    content: '';
    position: absolute;
    top: 0.6em;
    right: -40px;
    width: 20px; 
    height: calc(100% - 1.2em);
    display: block;

    background-color: rgba(255, 0, 0, 0.3); 
    box-shadow: inset 0em 0em 8px rgba(255, 0, 0, 0.5);
}

.multiSegment.focused::before, .multiSegment.focused::after {
    opacity:0.5;
}

.multiSegment.focused:hover::before, .multiSegment.focused:hover::after {
    opacity:0.75;
}

.hookShowing.multiSegment.focused::before, .hookShowing.multiSegment.focused::after {
    opacity:1;
}