@media (min-aspect-ratio: 4/3) {
    
    .mobileOnly {
        display:none!important;
    }

    #projects .reveal {
    
        color:rgb(var(--primary-col));
    }
    
    #projects .project:hover > .reveal, #projects .highlight .reveal {
        color:rgb(var(--primary-col));
    }

    #projects .reveal img {
        position:absolute;
        left: 45%;
        top:50%;
    
        width:55%;
        height:auto;
    
        transform: translateY(-50%);
    }




    
    .baseline {
        font-size: 10em;
    }    










}


.desktopHeader {

    display: flex;
    justify-content: center;
}

#desktopNamePlate {
    top: 50%;
    transform:translateY(-50%);
    position: absolute;
    text-align: center;  
}

#desktopNamePlate #nameTop {
    display:inline-block;
    font-size: 27em;
    line-height: 0.7;
    color: rgba(0,0,0,0);
}

#desktopNamePlate #subTop {
    display:inline-block;
    font-size: 7em;
    line-height:1.2;
}

#desktopNamePlate #subTop span {
    display:inline-block;        
}    
