@media (max-aspect-ratio: 4/3) {

    .desktopOnly {
        display:none!important;
    }

    #mobileFigure {
        position: absolute;
        bottom:0;
        height:95%;
        right:clamp(0rem, 30vw, 40vw);
        margin-right: -18rem;
        margin-bottom: -5rem;
        pointer-events: none;
    }

    .baseline {
        font-size: 4.5em;
    }    

    #projectNavigator {
        flex-wrap:wrap;
    }

    #projectNavigator .info.mobileOnly {
        padding-bottom:0.5em;
    }

    .statsBar {
        font-size: 0.7em;
    }

}